<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wheels.one.application">
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true"></uses-feature>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <service
            android:name="com.wheels.one.application.ChorkiWallpaperService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/chorki_wp" />
        </service>
    </application>

</manifest>
